.para{
    color: aquamarine;
}
#heading{
    background-color: antiquewhite;
}
.about{
    background-color: blueviolet;
}
#p1{
    background-color: blanchedalmond;
    color: brown;
}
#p2{
    background-color: rgb(220, 245, 220); color: blueviolet;
}
#p3{
    background-color: azure; color: black;
}
